<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamgo.demo.mapper.BehaviorMapper">
    <insert id="insert_behavior_record" parameterType="com.teamgo.demo.entity.User_Behavior">
        INSERT INTO user_behavior_record (user_id,commodity_id,behavior,time)
        values (#{behavior.Actor},
        #{behavior.Commodity},
        #{behavior.Behavior},
        #{behavior.Timestamp});
    </insert>
</mapper>