<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--</beans>-->
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamgo.demo.mapper.OrderMapper">
    <update id="NewTable" parameterType="String">
        create table ${id}( commodity_ID varchar(32) NOT NULL,volume int NOT NULL);
    </update>

    <insert id="InsertOneOrderItem">
        INSERT INTO ${OrderId} (commodity_ID,volume) VALUES
         (#{commodity_ID},#{volume});
    </insert>
    <select id="listTableColumn" resultType="String" parameterType="String">
        select distinct table_name from information_schema.COLUMNS where TABLE_NAME Like CONCAT('%',#{tableName})
</select>
    <select id="searchAll" resultType="com.teamgo.demo.entity.OrderItem_DB" parameterType="String">
        select * from ${orderid}
    </select>
</mapper>