<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamgo.demo.mapper.UserMapper">
    <resultMap id="result" type="com.teamgo.demo.entity.User" >
        <result property="identity" column="identity"/>
        <result property="password" column="password"/>
        <result property="telephone" column="telephone"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="address" column="address"/>
        <result property="age" column="age"/>
        <result property="ID" column="ID"/>
        <result property="sex" column="sex"/>
    </resultMap>
    <select id="loginReturnPassword" resultType="String">
        SELECT PASSWORD FROM USER WHERE NAME=#{name}
    </select>
    <select id="loginReturnidentity" resultType="Integer">
        SELECT IDENTITY FROM USER WHERE NAME=#{name}
    </select>
    <insert id="register" parameterType="com.teamgo.demo.entity.User">
        INSERT INTO USER (
        identity,name,password,ID
        )
        VALUES(
        #{user.identity},
        #{user.Name, jdbcType=VARCHAR},
        #{user.Password, jdbcType=VARCHAR},
        #{user.ID}
        )
    </insert>
    <update id="updateInfo" parameterType="com.teamgo.demo.entity.User">
        UPDATE USER SET USER.NAME=#{name},USER.PASSWORD=#{password},
        USER.TEL=#{telephone},USER.ADDRESS=#{address},
        USER.AGE=#{age}, USER.SEX=#{sex} WHERE USER.ID=#{ID}
    </update>
    <update id="WishList" parameterType="String">
        create table ${id}( commodity_ID varchar(32) NOT NULL,volume int NOT NULL);
    </update>
<!--    <update id="update" parameterType="com.teamgo.entity.Item">-->
<!--        UPDATE ITEM SET ITEM.ITEM_NAME={name},ITEM.BRAND=#{brand},-->
<!--        ITEM.AMOUNT=#{amount},ITEM.UNIT_PRICE=#{unit_price},-->
<!--        ITEM.LOCATION=#{location} WHERE ITEM.ID=#{id}-->
<!--    </update>-->
</mapper>