<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天狗零售</title>
<link rel="shortcut icon" href="../picture/icon.ico" type="image/x-icon">
<link href="style1.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="Top"> <img src="../picture/logo.jpg">
  <label>天狗商店数据分析</label>
</div>
<div class="Bottom">
  <div class="LeftMenu">
    <div class="title"><img src="../picture/01.png">
      <label>商品分析</label>
    </div>
    <ul>
      <a href="#" class="link">热点商品分布分析</a> <a href="#" class="link">季节性商品分析</a>
    </ul>
    <hr>
    <div class="title"><img src="../picture/02.png">
      <label>客户分析</label>
    </div>
    <ul>
      <a href="#" class="link">客户购买记录分析</a> <a href="#" class="link">客户行为分析</a>
    </ul>
  </div>
  <div class="Display"></div>
</div>
</body>
</html>